body {
    background-color:rgba(235, 238, 243, 1);
    padding:0;
    margin:0;
    font-family: 'Inter';
}
.pagination {
    padding-top:25px;
    padding-bottom:35px;
    display:flex;
    justify-content:center;
}